.header {
  display: flex;
  justify-content: space-between;
}
.logo {
  margin-top: -2.5rem;
  width: 10rem;
  height: 10rem;
}
.header-menu {
  list-style: none;
  display: flex;
  gap: 2rem;
  color: #fff;
}

.header-menu > li:hover {
  color: var(--red);
  cursor: pointer;
}
